.botones-admin .btn-admin {
  width: 250px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.botones-admin .btn-admin:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}