.login-box {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  max-width: 500px;
}

.input-underline {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: white;
  transition: border-color 0.3s;
}

.input-underline:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #ff0000; 
}

.btn-login {
  background-color: transparent;
  width: 50%;
  border: 1px solid #ff0000;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #ff0000;
  color: white;
}