.card-fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover; 
  }
  
  .card-fixed .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-fixed .card-text {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    padding-right: 8px;
    margin-right: -8px;
    margin-top: 15px;
    padding-top: 10px;
    border-radius: 4px;
    border-top: 1px solid rgba(9, 9, 9, .1);

  }
  
  .card-button {
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
  }

  .delete-button{
    background-color: rgba(190, 10, 50);
    color: white;
  }

 .delete-button:hover{
    background-color: rgba(160, 30, 50, .5);
  }
  
  .card-button:hover {
    background-color: rgba(9, 9, 9, .1);
    border: 1px solid #ccc;
  }

.login-button {
  color: rgba(180, 190, 160, 1) !important;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
}

.login-button:hover {
  color: #6379c2 !important;
}

.log-out-button {
  color: rgba(180, 190, 160, 1) !important;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
}

.log-out-button:hover {
  color: rgb(218, 115, 115) !important;
}

